@import (css) "bootstrap.css";

body { background-color: lighten(#0275d8, 20%) !important; }

.navbar { margin-bottom: 2rem; }

#name { cursor: pointer; }

.card-block {
  .form-group { margin-bottom: 0; }

  .radio input[type="radio"] { margin-left: 0 !important; margin-right: .75em; }

  .alert-danger{
    display: none;
  }
}

