<div class="container-fluid">
    <div class="card">
        <div class="card-header text-xs-center"><h5>Create New Quiz</h5></div>

        <div class="card-block">
            <form action="#" class="">
                <formset class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="quiz-name">Quiz Name</label>
                            <input type="text" class="form-control" id="quiz-name" name="quiz-name" placeholder="Enter the name of your quiz" />
                        </div>
                    </div>
                </formset>

                <hr />

                <formset class="form-group new quiz-question" data-question="1">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="question-1">Question 1</label>
                            <input type="text" class="form-control" id="question-1" name="question-1" placeholder="Enter a Question" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 question" data-answer="1">
                            <input type="text" class="form-control" id="q1a1" name="q1a1" placeholder="Enter an answer" />
                            <small><label>Correct Answer? <input type="radio" name="q1-correctAnswer" value="q1a1" /></label></small>
                        </div>

                        <div class="col-xs-12 col-sm-6 question" data-answer="2">
                            <input type="text" class="form-control" id="q1a2" name="q1a2" placeholder="Enter an answer" />
                            <small><label>Correct Answer? <input type="radio" name="q1-correctAnswer" value="q1a2" /></label></small>
                        </div>
                    </div>

                    <div class="row controls">
                        <div class="col-xs-12">
                            <button class="btn btn-primary add-answers">Add Answers</button>
                        </div>                        
                    </div>                    
                </formset>

                <hr />

                <div class="row controls">
                    <div class="col-xs-12">
                        <button class="btn btn-primary add-question">Add Question</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="card-footer">
            <button class="btn btn-danger exit">Close</button>
            <button class="btn btn-primary save pull-xs-right">Save Quiz</button>
        </div>
    </div>

</div>
